<IfModule mpm_worker_module>
    StartServers          2
    MinSpareThreads      25
    MaxSpareThreads      75
    ThreadLimit          64
    ThreadsPerChild      64
    MaxClients         1024
    MaxRequestsPerChild   0
</IfModule>

<IfModule mpm_prefork_module>
    StartServers          5
    MinSpareServers       5
    MaxSpareServers      10
    MaxClients         1024
    MaxRequestsPerChild   0
</IfModule>

NameVirtualHost *:80
<VirtualHost *:80>
   ServerName <%= scope.lookupvar('landscape::server_url') %>
   ServerAdmin webmaster@<%= scope.lookupvar('landscape::server_url') %>

   ErrorLog /var/log/apache2/landscape_error.log
   CustomLog /var/log/apache2/landscape_access.log combined
   DocumentRoot /opt/canonical/landscape/canonical/landscape

   # Set a Via header in outbound requests to the proxy, so proxied apps can
   # know who the actual client is
   ProxyVia on
   ProxyTimeout 10

   <Directory "/">
     Options +Indexes
     Order deny,allow
     Allow from all
     Require all granted
     Satisfy Any
     ErrorDocument 403 /offline/unauthorized.html
     ErrorDocument 404 /offline/notfound.html
   </Directory>

   Alias /offline /opt/canonical/landscape/canonical/landscape/offline
   Alias /static /opt/canonical/landscape/canonical/static
   Alias /repository /var/lib/landscape/landscape-repository

   <Location "/repository">
     Order deny,allow
     Deny from all
     ErrorDocument 403 default
     ErrorDocument 404 default
   </Location>
   <LocationMatch "/repository/[^/]+/[^/]+/(dists|pool)/.*">
     Allow from all
   </LocationMatch>
   <Location "/icons">
     Order allow,deny
     Allow from all
   </Location>
   <Location "/ping">
     Order allow,deny
     Allow from all
   </Location>

   <Location "/message-system">
     Order allow,deny
     Allow from all
   </Location>

   <Location "/r">
     FileETag none
     ExpiresActive on
     ExpiresDefault "access plus 10 years"
     Header append Cache-Control "public"
   </Location>

   RewriteEngine On

   RewriteRule ^/r/([^/]+)/(.*) /$2

   # The Landscape Ping Server runs on port 8070
   RewriteRule ^/ping$ http://localhost:8070/ping [P]

   RewriteCond %{REQUEST_URI} !/server-status
   RewriteCond %{REQUEST_URI} !/icons
   RewriteCond %{REQUEST_URI} !/static
   RewriteCond %{REQUEST_URI} !/offline
   RewriteCond %{REQUEST_URI} !/repository
   RewriteCond %{REQUEST_URI} !/message-system

   # Replace the <hostname> with the DNS hostname for this machine.
   # If you change the port number that Apache is providing SSL on, you must
   # change the port number 443 here.
   RewriteRule ^/(.*) https://<%= scope.lookupvar('landscape::server_url') -%>:443/$1 [R=permanent]
</VirtualHost>

<VirtualHost *:443>
   ServerName <%= scope.lookupvar('landscape::server_url') %>
   ServerAdmin webmaster@<%= scope.lookupvar('landscape::server_url') %>

   ErrorLog /var/log/apache2/landscape_error.log
   CustomLog /var/log/apache2/landscape_access.log combined

   DocumentRoot /opt/canonical/landscape/canonical/landscape

   SSLEngine On
   SSLCertificateFile /etc/ssl/certs/landscape_server.pem
   SSLCertificateKeyFile /etc/ssl/private/landscape_server.key
   # Disable to avoid POODLE attack
   SSLProtocol all -SSLv3 -SSLv2
   # Note: Some versions of Apache will not accept the SSLCertificateChainFile
   # directive. Try using SSLCACertificateFile instead
   SSLCertificateChainFile /etc/ssl/certs/landscape_server_ca.crt

   # Try to keep this close to the storm timeout. Not less, maybe slightly
   # more
   ProxyTimeout 305

   <Directory "/">
     Options -Indexes
     Order deny,allow
     Allow from all
     Require all granted
     Satisfy Any
     ErrorDocument 403 /offline/unauthorized.html
     ErrorDocument 404 /offline/notfound.html
   </Directory>

   <Location "/ajax">
     Order allow,deny
     Allow from all
   </Location>

   Alias /config /opt/canonical/landscape/apacheroot
   Alias /hash-id-databases /var/lib/landscape/hash-id-databases
   Alias /offline /opt/canonical/landscape/canonical/landscape/offline

    ProxyRequests off
    <Proxy *>
       Order deny,allow
       Allow from all
       ErrorDocument 403 /offline/unauthorized.html
       ErrorDocument 500 /offline/exception.html
       ErrorDocument 502 /offline/unplanned-offline.html
       ErrorDocument 503 /offline/unplanned-offline.html
    </Proxy>

    ProxyPass /robots.txt !
    ProxyPass /favicon.ico !
    ProxyPass /static !
    ProxyPass /offline !

    ProxyPreserveHost on


   <Location "/r">
      FileETag none
      ExpiresActive on
      ExpiresDefault "access plus 10 years"
      Header append Cache-Control "public"
   </Location>

    RewriteEngine On

    RewriteRule ^/.*\+\+.* / [F]
    RewriteRule ^/r/([^/]+)/(.*) /$2

    # See /etc/landscape/service.conf for a description of all the
    # Landscape services and the ports they run on.

    # If you change the port number that Apache is providing SSL on, you must
    # change the port number 443 here.
    RewriteRule ^/message-system http://localhost:8090/++vh++https:<%= scope.lookupvar('landscape::server_url') -%>:443/++/ [P,L]

    RewriteRule ^/ajax http://localhost:9090/ [P,L]
    RewriteRule ^/combo http://localhost:9070/ [P,L]
    RewriteRule ^/api http://localhost:9080/ [P,L]
    RewriteRule ^/attachment/(.*) http://localhost:8090/attachment/$1 [P,L]
    RewriteRule ^/upload/(.*) http://localhost:9100/$1 [P,L]

    RewriteCond %{REQUEST_URI} !/robots.txt
    RewriteCond %{REQUEST_URI} !/favicon.ico
    RewriteCond %{REQUEST_URI} !/static
    RewriteCond %{REQUEST_URI} !/offline
    RewriteCond %{REQUEST_URI} !/config
    RewriteCond %{REQUEST_URI} !/hash-id-databases

    # If you change the port number that Apache is providing SSL on, you must
    # change the port number 443 here.
    RewriteRule ^/(.*) http://localhost:8080/++vh++https:<%= scope.lookupvar('landscape::server_url') -%>:443/++/$1 [P]

    <Location /message-system>
      Order allow,deny
      Allow from all
    </Location>

    <Location />
        # Insert filter
        SetOutputFilter DEFLATE

        # Don't compress images or .debs
        SetEnvIfNoCase Request_URI \
        \.(?:gif|jpe?g|png|deb)$ no-gzip dont-vary

        # Make sure proxies don't deliver the wrong content
        Header append Vary User-Agent env=!dont-vary
    </Location>

</VirtualHost>
