[client]
log_level               = info
url                     = https://<%= scope.lookupvar('landscape::client::server_url') -%>/message-system
ping_url                = http://<%= scope.lookupvar('landscape::client::server_url') -%>/ping
data_path               = /var/lib/landscape/client
computer_title          = <%= scope.lookupvar('landscape::client::computer_title') %>
account_name            = <%= scope.lookupvar('landscape::client::account_name') %>
ssl_public_key          = <%= @server_cert_path %>
<% if @enable_script_exec -%>
include_manager_plugins = ScriptExecution
script_users            = <%= @script_users %>
<% end %>
<%- unless @extra_config.nil? or @extra_config.empty? -%>
  <%-  @extra_config.keys.sort.each do |key| -%>
<%= key -%> = <%= @extra_config[key] %>
  <%- end -%>
<%- end -%>
